.general-container {
  width: 100%;
}

.resume {
  width: 80%;
  margin: 0 auto;
  border: 1px blue solid;
  padding: 3% 0.5%;
  font-family: 'Jura', sans-serif;
}

.resume h1 {
  font-weight: bolder;
  font-size: 4rem;
  padding-bottom: 2rem;
}
.resume-container {
  display: flex;
  justify-content: center;
}

.resume-content {
  width: 70%;
  border: 1px solid red;
  padding: 1%;
}

.resume-links {
  width: 25%;
  border: 1px solid black;
}

.resume-items {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
